<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id tortor ut ante dignissim porttitor non ac arcu. Vivamus lacinia non tortor sed sodales. Cras odio ligula, posuere sit amet elit eu, imperdiet hendrerit erat. Donec ut tempus turpis. Nulla placerat feugiat magna, nec euismod odio vestibulum eu. In vehicula euismod est, eget dapibus eros commodo vel.
</p>
    </div>
</div>